<!DOCTYPE html>
<html lang="kr">
<head>
<meta charset="utf-8">
{{>/include/fileHeader}}
</head>
<body>
{{>/include/navigation}}
<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
              <tr>
             <th></th><th>사용자 아이디</th> <th>이름</th> <th>이메일</th><th></th>
                {{#users}}
                </tr>
                <tr>
                    <th>{{id}}</th> <th><a href="/users/profile/{{id}}"/>{{userId}}</th> <th>{{name}}</th> <th>{{email}}</th><th></th>
                <td><a href="/users/{{id}}/form" class="btn btn-success" role="button">수정</a></td>
                </tr>
              </thead>
              <tbody>
                {{/users}}
              </tbody>
          </table>
        </div>
    </div>
</div>

<!-- script references -->
<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
	</body>
</html>